---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
PointerAlignment: Right
ReferenceAlignment: Right
NamespaceIndentation: None
AccessModifierOffset: 0
IndentCaseLabels: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
